.terminal {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
}

.terminal::before {
    content: "\2022  \2022  \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #6d7277;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 5px;
    text-indent: 4px;
}

.terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: greenyellow;
    padding: 0 1rem 1rem;
    margin: 0;
    height: 53vh;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.icon-bar {
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.icon-bar :hover {
    font-size: 100px;
    transition: all 0.6s ease;
}

.btn-transparent {
    background: transparent;
    color: white !important;
    border-style: dotted;
    border-width: 2px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
}

.btn-transparent a {
    text-decoration: none;
}

.name {
    font-size: 35px;
    font-family: "Srisakdi", monospace;
    font-weight: bolder;
    text-align: center;
    color: #fff;
}

.card {
    border-radius: 0px;
    border-right: 1px solid #6d7277;
    border-left: 1px solid #6d7277;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background: rgb(58, 58, 58);
    color: #6d7277;
    height: 40px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.op {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 10px;
    background: rgb(58, 58, 58);
    width: 100%;
}

footer {
    margin-bottom: 8px;
    text-align: center;
    line-height: 20px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: blue;
}


/* Responsive Styles */

@media screen and (max-width: 767px) {
    .icon-bar a {
        padding: 4px;
    }
}